@page "/managerlist/edit/{Id:int?}"
@using CarServiceCenter.Web.Blazor.Shared;
@inject HttpClient httpClient
@inject NavigationManager navigationManager


<h3>Managers</h3>
<h4>Create/Edit</h4>

@if (isLoading) {
        <p>Loading ...</p>

} else {

        <div class="row">
            <div class="col-md-6">
                <label class="form-label">Name</label>
                <input class="form-control" @bind="@manager.Name" />
            </div>
            <div class="col-md-6">
                <label class="form-label">Surname</label>
                <input class="form-control" @bind="@manager.Surname" />
            </div>
            <div class="col-md-6">
                <label class="form-label">Phone</label>
                <input class="form-control" @bind="@manager.SalaryPerMonth" />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <button class="btn btn-success" @onclick="OnSave">Save</button>
                <button class="btn btn-danger" @onclick="OnCancel">Cancel</button>
            </div>

        </div>

}

@code {
    [Parameter] public int? Id { get; set; }
    bool isLoading = true;
    ManagerEditDto manager;

    protected override async Task OnInitializedAsync() {
        if (Id == null) {
            manager = new();
        } else {
            manager = await httpClient.GetFromJsonAsync<ManagerEditDto>($"manager/{Id}");
        }
    }

    private void OnCancel() {
        navigationManager.NavigateTo("managerlist");
    }

    private async Task OnSave() {
        HttpResponseMessage? response = null;
        if (Id == null) {
            response = await httpClient.PostAsJsonAsync("manager", manager);
        } else {
            response = await httpClient.PutAsJsonAsync("manager", manager);
        }

        response.EnsureSuccessStatusCode();
        navigationManager.NavigateTo("managerlist");
    }

}
