@page "/managerlist/edit/{Id:int?}"
@using CarServiceCenter.Web.Blazor.Shared;
@inject HttpClient httpClient
@inject NavigationManager navigationManager

<PageTitle>Managers Edit</PageTitle>

<h3 class="display-3">Managers</h3>
<h4>Create/Edit</h4>

<style>
    body {
        background-color: #FAF8F1
    }
     h3{
        font-weight: bold;
    }
</style>


@if (Manager == null) {

        <p>Loading ...</p>

} else {

        <div class="row">
            <div class="col-md-6">
                <label class="form-label">Name</label>
                <input class="form-control" @bind="@Manager.Name" />
            </div>
            <div class="col-md-6">
                <label class="form-label">Surname</label>
                <input class="form-control" @bind="@Manager.Surname" />
            </div>
            <div class="col-md-6">
                <label class="form-label">Salary Per Month</label>
                <input class="form-control" @bind="@Manager.SalaryPerMonth" />
            </div>
        </div>
        <div class="row mt-2">

            <div class="col">
                <button class="btn btn-success" @onclick="OnSave">Save</button>
                <button class="btn btn-danger" @onclick="OnCancel">Cancel</button>
            </div>

        </div>

}

@code {
    [Parameter] public int? Id { get; set; }
    //bool isLoading = true;
    ManagerEditDto Manager { get; set; }

    protected override async Task OnInitializedAsync() {
        if (Id == null) {
            Manager = new();
        } else {
            Manager = await httpClient.GetFromJsonAsync<ManagerEditDto>($"manager/{Id}");
        }
    }

    private void OnCancel() {
        navigationManager.NavigateTo("managerlist");
    }

    private async Task OnSave() {
        HttpResponseMessage? response = null;
        if (Id == null) {
            response = await httpClient.PostAsJsonAsync("manager", Manager);
        } else {
            response = await httpClient.PutAsJsonAsync("manager", Manager);
        }

        response.EnsureSuccessStatusCode();
        navigationManager.NavigateTo("managerlist");
    }

}
