@page "/monthly_ledger"

<PageTitle>Montlhy Ledger</PageTitle>

<h3 class="display-3">Monthly Ledger</h3>
<style>
    body {
        background-color: #FAF8F1
    }

    h3 {
        border-bottom: double;
    }
</style>

@code {

}
