@page "/"

<PageTitle>Index</PageTitle>

<style>
    body {
        background-color: #FAF8F1
    }
</style>

<h1>Home Page</h1>

Please follow the instructions bellow

<SurveyPrompt Title="In order to use the app, start by logging-in from the Main Menu" />
