<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Main Menu</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>   
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="customerlist">
                <span class="oi oi-people" aria-hidden="true"></span> Customers
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="carlist">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Car List
            </NavLink>
        </div> 
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="managerlist">
                <span class="oi oi-briefcase" aria-hidden="true"></span> Managers
            </NavLink>
        </div> 
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="engineerlist">
                <span class="oi oi-briefcase" aria-hidden="true"></span> Engineers
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="servicetasklist">
                <span class="oi oi-wrench" aria-hidden="true"></span> Service Tasks
            </NavLink>
        </div> 
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="transactionlist">
                <span class="oi oi-cart" aria-hidden="true"></span> Transactions
            </NavLink>
        </div> 
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="monthly_ledger">
                <span class="oi oi-calculator" aria-hidden="true"></span> MonthlyLedger
            </NavLink>
        </div>



    </nav>
</div>
@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
