body
{
}

form {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

button {
    width: 100px;
    color: white;
    background-color: green;
    margin: 8px 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

input {
    width: 400px;
    margin: 8px 0;
}

.ex3{
   margin-top: 2rem;
   width:400px
}

table {
    border: solid;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

th, td {
    border: 1px solid;
    border-collapse: collapse;
}
