body
{
    
}

a {
    color: #09deb7;
    text-decoration: none;
}
    a:hover {
        background-color: #EEEEEE;
    }

ol, ul{
    list-style: none;
}

p, li{
    font-size: 18px;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #E3F6FF;
    justify-content: flex-end;
    justify-content: space-between;
    padding: 10px;
    padding-right: 20px;
}

ul.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}


.logo{

}

button {
    background-color: #09deb7;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer; 
    border-radius: 12px;
}
